@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin absHeaiding {
	text-transform: uppercase;
	letter-spacing: 1.3px;
	font-weight: 300;
	margin-bottom: 1.5rem;
	position: absolute;
	width: 100%;
}

@mixin absHeadingSpan($primary_color, $secondary_color) {
	padding: 1rem 1.5rem;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;

	// display: inline-block;
	background-image: linear-gradient(
		to right bottom,
		rgba($primary_color, 0.85),
		rgba($secondary_color, 0.85)
	);
}

// MEDIA QUERIES

/* 
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape

[1200 - 1800px: Desktop] is where the normal styles are applied

1800px +: Big desktop


$breakpoint argument choices:
~ phone
~ tablet-portrait
~ tablet-landscape
~ desktop
~ big-desktop

ORDER: Base + typography > general layout + grid > page layout > components > utilities
1em = 16px

*/

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		}
	}
}
