// COLORS:
$color_primary: #55c57a;
$color_primary_light: #7ed56f;
$color_primary_dark: #28b485;

$color_secondary_light: #ffb900;
$color_secondary_dark: #ff7730;

$color_tertiary_light: #2998ff;
$color_tertiary_dark: #5643fa;

$color_grey_light_1: #f7f7f7;
$color_grey_light_2: #eee;

$color_grey_dark: #777;
$color_grey_dark_2: #999;
$color_white: #fff;
$color_black: #000;

//Font
$default_font_size: 1.6rem;

//GRID:
$grid_width: 114rem;
$gutter_vertical: 8rem;
$gutter_horizontal: 4rem;

//OTHER:
// $card-image: url(../../assets/img/nat-8);
// // $card-color-light: #fff;
// // $card-color-dark: #262833;
