.u_center_text {
	text-align: center !important;
}

.u_margin_bottom_big {
	margin-bottom: 8rem !important;
}

.u_margin_bottom_medium {
	margin-bottom: 4rem !important;
}
.u_margin_bottom_small {
	margin-bottom: 1.5rem !important;
}

.u_margin_top_small {
	margin-top: 1.5rem !important;
}

.u_margin_top_big {
	margin-top: 8rem !important;
}

.u_margin_top_huge {
	margin-top: 10rem !important;
}
