.popup {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba($color_black, 0.8);
	z-index: 3000;
	// opacity: 0;
	// visibility: hidden;
	transition: all 0.3s;

	& &__content {
		@include absCenter;
		width: 75%;
		background-color: $color_white;
		box-shadow: 0 2rem 4rem rgba($color_black, 0.2);
		border-radius: 3px;
		display: table;
		overflow: hidden;
		// opacity: 1;
		transform: translate(-50%, -50%);
		transition: opacity 0.6s 0.3s;

		@include respond(tab-land) {
			width: 100%;
			display: block;
			position: relative;
			padding: 1rem;
		}
	}

	&__left {
		width: 33.333333%;
		display: table-cell;
		@include respond(tab-land) {
			width: 100%;
			display: flex;
		}
	}

	&__right {
		width: 66.666667%;
		display: table-cell;
		vertical-align: middle;
		padding: 3rem 5rem;
		@include respond(tab-land) {
			text-align: center;
			padding: 1rem;
		}
	}

	&__img {
		display: block;
		width: 100%;
		@include respond(tab-land) {
			width: 50%;
			// display: flex;
		}
	}

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;

		-moz-column-count: 2;
		-moz-column-gap: 4rem; //1em=14px - font-size of the text
		-moz-column-rule: 1px solid $color_grey_light_3;

		column-count: 2;
		column-gap: 4rem; //1em=14px - font-size of the text
		column-rule: 1px solid $color_grey_light_3;

		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		@include respond(tab-land) {
			text-align: left;
			-moz-column-count: 1;
			column-count: 1;
		}
	}

	&__close {
		border: none;
		padding: 1rem;
		background: none;
		color: $color_grey_dark;
		position: absolute;
		top: 2.5rem;
		right: 4rem;
		font-size: 3rem;
		text-decoration: none;
		display: inline-block;
		cursor: pointer;

		@include respond(tab-land) {
			color: $color_black;
			font: 10rem;
			background-color: $color_grey_light_1;
			padding: 0.5rem;
		}
	}

	&:hover {
		color: $color_primary;
	}
}
