.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		text-align: center;
		background-color: $color_white;
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 6rem;
		right: 6rem;
		border-radius: 50%;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba($color_black, 0.1);
		cursor: pointer;
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient(
			$color-primary-light,
			$color-primary-dark
		);
		z-index: 1000;
		transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
	}

	&__nav {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;

		opacity: 0;
		width: 0;

		transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		list-style: none;
		text-align: center;
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			font-size: 3rem;
			font-weight: 300;
			color: $color_white;
			text-transform: uppercase;
			text-decoration: none;
			padding: 1rem 2rem;
			display: block;
			background-image: linear-gradient(
				120deg,
				transparent 0%,
				transparent 50%,
				$color-white 50%
			);
			background-size: 220%;
			transition: all 0.4s;
		}

		&:hover,
		&:active {
			background-position: right;
			color: $color-primary-dark;
			transform: translateX(1rem);
			transition: all 0.4s;
		}
	}

	//Functionality for the navigation menu
	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100%;
	}

	//Icon for the navigation menu

	&__icon {
		position: relative;
		margin-top: 3.2rem;

		&,
		&::before,
		&::after {
			width: 3.5rem;
			height: 2.2px;
			background-color: $color_grey_dark_3;
			display: inline-block;

			// transition: all 0.2s;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 0;
			transition: all 0.2s;
		}

		&::before {
			top: -0.9rem;
		}

		&::after {
			top: 0.9rem;
		}
	}

	&__button:hover &__icon::before {
		top: -1.1rem;
	}
	&__button:hover &__icon::after {
		top: 1.1rem;
	}

	&__checkbox:checked ~ &__button &__icon {
		background-color: transparent;
	}

	&__checkbox:checked ~ &__button &__icon::before {
		top: 0;
		transform: rotate(-135deg);
	}

	&__checkbox:checked ~ &__button &__icon::after {
		top: 0;
		transform: rotate(135deg);
	}
}
